/* Font Colors */
:root {
  --red: #CC0A2C;
  --blue: #0066B4;
}

body {
  font-family: Roboto;
  font-size: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo-img {
  width: 15%;
  height: 15%;
  padding-top: 45px;
  padding-left: 4%;
  padding-right: 2%;
}

h1 {
  font-family: Nasalization;
  font-size: 4rem;
  width: 70%;
  text-align: center;
  color: var(--blue);
}
